@use '../../_base/setting' as *;

.movie_title {
  font-size: vw(26);
  line-height: 1.4em;
}
.movie_img_container {
  width: 100%;
  aspect-ratio: 50/75;
  overflow: hidden;
  position: relative;
  margin-top: vw(30);
  
  .movie_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.movie_date {
  font-size: vw(26);
  margin-top: vw(20);
}
.movie_genre {
  font-size: vw(26);
  margin-top: vw(10);
  line-height: 1.4em;
}

// PC
@media screen and (min-width: ($BREAKPOINT)){
  .movie_title {
    font-size: 18px;
  }
  .movie_img_container {
    margin-top: 30px;
  }
  .movie_date {
    font-size: 18px;
    margin-top: 20px;
  }
  .movie_genre {
    font-size: 18px;
    margin-top: 10px;
  }

  // hover
}
